body {
  font: 17px/1.5 Crimson Pro, serif;
  color: black;
  font-weight: 400;
}

a {
  color: #1565c0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: underline;
}

h2 {
  margin: 0;
  font-weight: normal;
  font-size: 22px;
}

.papertitle {
  font-size: 17px;
  font-weight: 700;
}

.name {
  padding-top: 20px;
  margin: 0;
  font-size: 32px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
}

.fade {
  transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

/* rounded "box" rows for the projects table */
tr.box td {
  background: #F5F5F7;
}

tr.box.hl td {
  background: #ffffd0;
}

tr.box td:first-child {
  border-radius: 8px 0 0 8px;
}

tr.box td:last-child {
  border-radius: 0 8px 8px 0;
}

.colored-box {
  color: black;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
}
